@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  height: calc(100vh - 210px);
}
.item-card {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.modalContent {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
}
